@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('/BoogieBoys.ttf') format('truetype');
}

html,
body, :root {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #0e0e10;
  color: #ececec;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bounce-animation {
  font-family: 'CustomFont', sans-serif;
  animation: bounce 0.8s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    transform: translateY(40%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}